.dashboard {
  display: flex;
	width: 100vw;
	height: 100vh;
}

.content {
	flex-basis: 75%;
	padding-right: 7.5rem;
	padding-bottom: 5rem;
	overflow: auto;
	// background-color: red;
}

.calls {
	flex: 1;
	padding: 0 2rem;
}

.main {
	display: flex;
	flex: 1;
	padding: 5rem 5rem 0;

	/* width */
	::-webkit-scrollbar {
		width: 5px;
	}

	/* Track */
	::-webkit-scrollbar-track {
		background: #f1f1f1;
		border-radius: 5px;
	}

	/* Handle */
	::-webkit-scrollbar-thumb {
		background: lightgrey;
		border-radius: 5px;
	}

	/* Handle on hover */
	::-webkit-scrollbar-thumb:hover {
		background: #555;
	}
}

.aside {
	max-width: 20%;
	border-right: 1px solid #C6C6C6;
}